.App {
  margin: 0;
  font-family: Poppins;
}

.nav {
  box-shadow: 0px 3px 7px #0000001A;
  height: 70px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B
}

.mainlogo {
  padding-top: 22px;
  padding-left: 30px; 
}

.main1 > img {
  padding: 96px 77px 30px;
  max-width: 400px;
}

.main1 > h1 {
  margin-left: 36px ;
}

.main1 > p {
  margin-left: 36px;
  width: 320px;
  font-size: 15px;
  line-height: 17.6px;
}

.cards {
  padding-left: 37px;
  font-size: 10px;
  position: relative
}

.carddetails > img {
  height: 235px;
  margin-bottom: 10px;
  border-radius: 9px;
}

.carddetails {
  line-height: 8px;
}

.ratings > img {
  width: 10px;
}

.card-list {
  display: flex;
  gap: 20px;
}

.card-badge {
  position: absolute;
  background-color: white;
  font-weight: bold;
  padding: 5px 7px;
  margin: 6px;
  border-radius: 2px;
}